<div class="new-decision-from-index">
  <%= form_tag new_decision_path, method: :get do %>
  <div class="field">
    <div id="title-field-only">
      <%= text_field_tag :title, "", id: "new_from_index", placeholder: "What do you need help deciding?" %>
      <%= submit_tag "+", id: "decision_title_submit" %>
    </div>
    <div id="limit"><div id="append-form"></div></div>
  </div>
  <% end %>
  <h3>Or, you can be a part of these decisions:</h3>
</div>
