<%= render "header" %>

<div class="center-column group">

  <div class="left-cards">
    <%= render "profile_card" %>
    <%= render "discussions/discussions_card" %>
  </div>

  <div class="decision-strip">
    <div class="form-wrapper">
      <div id="new-dilemma">
        <h3>Edit this Dilemma</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
