<%= render "header" %>

<div class="center-column group">

  <div class="left-cards">
    <%= render "users/profile_card" %>
    <%= render partial: 'discussions/discussions_card' %>
  </div>

    <div class="decision-strip">
      <%= render partial: 'decision_card', locals: {decision: @decision} %>
    </div>


</div>
