<%= render "header" %>

<div class="center-column group">

  <%= render "profile_card" %>

  <div class="decision-strip">
    <%= render partial: 'decision_card', locals: {decision: @decision} %>
  </div>
</div>
