<%= render "decisions/header" %>
<div class="center-column group">
  <div class="left-cards">
    <%= render "decisions/profile_card" %>
    <%= render "discussions/discussions_card" %>
  </div>
    <%= render "users_strip" %>
</div>
