<div class="splash wrapper">
  <%= image_tag 'logo.png', class: "main-logo" %>
  <%= link_to "Create Account", new_user_registration_path, class: "splash-btn" %>
  <%= link_to "Sign In", new_user_session_path, class: "splash-btn" %>
  <br>
  <%= link_to "login with facebook", "/users/auth/facebook/", id: "facebook-login" %>
</div>
