<div class="option-box-wrapper">
  <%= render partial: 'votes/option_box', locals: {decision: decision, option_number: 1} %>

  <%= render partial: 'votes/option_box', locals: {decision: decision, option_number: 2} %>
</div>
